{% extends "master.html" %}

{% block content %}
   <div class="content-wrapper">
    <section class="content-header">
      <h1>
        Add Mess Off Request
        <small></small>
      </h1>
    </section>
    <section class="content container-fluid">

          <div class="box box-primary">


            <!-- /.box-header -->
            <!-- form start -->
            <form role="form" action="" method="post">
              <div class="box-body">
                <div class="col-xs-6">
                  <div class="form-group">
                    <label >From</label>
                      <input type="date" class="form-control" name="from">


                  </div>
                </div>


                <div class="col-xs-6">
                  <div class="form-group">
                    <label >To</label>
                      <input type="date" class="form-control" name="to">


                  </div>
                </div>








              </div>
              <!-- /.box-body -->

              <div class="box-footer">
                <button type="submit" class="btn btn-primary">Add</button>
              </div>
            </form>

          </div>



          <div class="box box-primary">
              <table class="table table-bordered">
                  <thead>
                    <tr>
                        <th>From</th>
                        <th>To</th>
                        <th>Status</th>
                        <th>Date</th>

                    </tr>
                  </thead>
                  <tbody>
                    {% if row %}
                        {% for r in row %}
                        <tr>
                            <td>{{ r[2] }}</td>
                            <td>{{ r[3] }}</td>
                            <td>
                                {% if r[5] == 'f' %} <span class="label label-danger">Rejected</span> {% else %}
                                    {% if r[4] == 'f' %} <span class="label label-warning">Pending</span>  {% else %} <span class="label label-success">Approved</span>  {% endif %}
                                 {% endif %}
                            </td>
                            <td>{{ r[6] }}</td>
                        </tr>
                        {% endfor %}
                    {% endif %}
                  </tbody>
              </table>
          </div>


    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
         <div class="alert alert-success">{{message}} </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    </section>
</div>
{% endblock %}
