{% extends "master.html" %}

{% block content %}
   <div class="content-wrapper">
    <section class="content-header">
      <h1>
        Mess Off List
        <small></small>
      </h1>
    </section>
    <section class="content container-fluid">


          <div class="box box-primary">
              <table class="table table-bordered">
                  <thead>
                    <tr>
                        <th>Student Name</th>
                        <th>From - To</th>

                        <th>Date</th>
                        <th>Action</th>

                    </tr>
                  </thead>
                  <tbody>
                    {% if row %}
                        {% for r in row %}
                        <tr>
                            <td>{{ r[8] }}</td>
                            <td>{{ r[2] }} - {{ r[3] }}</td>

                            <td>{{ r[6] }}</td>
                            <td>
                                <a href="/mess/accept/{{ r[0] }}" >Accept</a> | <a href="/mess/reject/{{ r[0] }}" >Reject</a>
                                
                            </td>
                        </tr>
                        {% endfor %}
                    {% endif %}
                  </tbody>
              </table>
          </div>


    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
         <div class="alert alert-success">{{message}} </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    </section>
</div>
{% endblock %}
