{% extends "master.html" %}

{% block content %}
   <div class="content-wrapper">
    <section class="content-header">
      <h1>
        Room Management
        <small></small>
      </h1>
    </section>
    <section class="content container-fluid">
        <input class="form-control" id="disabledInput" type="text" placeholder="Total No. of Floors = 3" disabled><br>
        <input class="form-control" id="disabledInput" type="text" placeholder="Total No. of Rooms on Each Floor = 30" disabled><br>
        <input class="form-control" id="disabledInput" type="text" placeholder="No. of Persons in One Room = 3 " disabled><br>


    </section>
</div>
{% endblock %}
