{% extends "master.html" %}

{% block content %}
   <div class="content-wrapper">
    <section class="content-header">
      <h1>
        Edit Your Information
        <small></small>
      </h1>
    </section>
    <section class="content container-fluid">
        <section class="content container-fluid">
        <form class="form-horizontal">
              <div class="box-body">
                <div class="form-group">
                  <label for="firstname3" class="col-sm-2 control-label">First Name</label>

                  <div class="col-sm-6">
                    <input type="text" class="form-control" id="firstname3" placeholder="First Name">
                  </div>
                </div>
                  <div class="form-group">
                  <label for="lastname3" class="col-sm-2 control-label">Last Name</label>

                  <div class="col-sm-6">
                    <input type="text" class="form-control" id="lastname3" placeholder="Last Name">
                  </div>
                </div>

                  <div class="form-group">
                  <label for="inputEmail3" class="col-sm-2 control-label">Email</label>

                  <div class="col-sm-6">
                    <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputPassword3" class="col-sm-2 control-label">Password</label>

                  <div class="col-sm-6">
                    <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
                  </div>
                </div>
                  <div class="form-group">
                  <label for="confirmedPassword3" class="col-sm-2 control-label">Confirmed Password</label>

                  <div class="col-sm-6">
                    <input type="password" class="form-control" id="confirmedPassword3" placeholder="Confirmed Password">
                  </div>
                </div>
                   <div class="form-group">
                  <label for="phone3" class="col-sm-2 control-label">Student's Contact</label>

                  <div class="col-sm-6">
                    <input type="text" class="form-control" id="phone3" placeholder="Student's Contact">
                  </div>
                </div>
                   <div class="form-group">
                  <label for="department3" class="col-sm-2 control-label">Department</label>

                  <div class="col-sm-6">
                    <input type="text" class="form-control" id="department3" placeholder="Department">
                  </div>
                </div>
                   <div class="form-group">
                  <label for="program3" class="col-sm-2 control-label">Program</label>

                  <div class="col-sm-6">
                    <input type="text" class="form-control" id="program3" placeholder="Program">
                  </div>
                </div>
                   <div class="form-group">
                  <label for="guardian3" class="col-sm-2 control-label">Parent/Guardian Name</label>

                  <div class="col-sm-6">
                    <input type="text" class="form-control" id="guardian3" placeholder="Parent/Guardian Name">
                  </div>
                </div>
                  <div class="form-group">
                  <label for="guardian_no3" class="col-sm-2 control-label">Guardian Contact.</label>

                  <div class="col-sm-6">
                    <input type="text" class="form-control" id="guardian_no3" placeholder="Guardian Contact.">
                  </div>
                </div>
                  <div class="form-group">
                  <label for="emergency3" class="col-sm-2 control-label">Emergency Contact.</label>

                  <div class="col-sm-6">
                    <input type="text" class="form-control" id="emergency3" placeholder="Emergency Contact.">
                  </div>
                </div>
                   <div class="form-group">
                  <label for="merit3" class="col-sm-2 control-label">Merit Number.</label>

                  <div class="col-sm-6">
                    <input type="text" class="form-control" id="merit3" placeholder="Merit Number">
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-6">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox"> Remember me
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.box-body -->
              <div class="box-footer">
                <button type="submit" class="btn btn-default">Cancel</button>
                <button type="submit" class="btn btn-info pull-right">Confirm Changes</button>
              </div>
              <!-- /.box-footer -->
            </form>
    </section>

    </section>
</div>
{% endblock %}
