{% extends "master.html" %}

{% block content %}
   <div class="content-wrapper">
    <section class="content-header">
      <h1>
        Student Search
        <small></small>
      </h1>
    </section>
    <section class="content container-fluid">

          <div class="box box-primary">


            <!-- /.box-header -->
            <!-- form start -->
            <form role="form" action="" method="get">
              <div class="box-body">
                <div class="col-xs-6">
                  <div class="form-group">
                    <label >Student Name</label>
                    <input type="text" class="form-control" name="student_name"  placeholder="Enter student name">
                  </div>
                </div>





                  <div class="col-xs-6">
                  <div class="form-group">
                    <label >Student Email</label>
                    <input type="email" class="form-control" name="email"  placeholder="Enter  email">
                  </div>
                </div>




                <div class="col-xs-6">
                  <div class="form-group">
                    <label >Program</label>
                    <select name="program"  class="form-control">
                      <option value="">--Please Select--</option>
                      <option value="program">program</option>
                      <option value="program">program</option>
                      <option value="program">program</option>
                    </select>
                  </div>
                </div>

<div class="col-xs-6">
      <label >&nbsp;</label>
    <div class="clearfix"></div>
     <button type="submit" class="btn btn-primary">Search</button>
    <a href="/student/search" class="btn btn-danger">Reset</a>
</div>



              </div>
              <!-- /.box-body -->

            </form>

          </div>


          <div class="box box-primary">
              <table class="table table-bordered">
                  <thead>
                    <tr>
                        <th>Name</th>
                        <th>Father Name</th>
                        <th>Email</th>
                        <th>Guardian Contact</th>
                        <th>Merit</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% if row %}
                        {% for r in row %}
                        <tr>
                            <td>{{ r[1] }}</td>
                            <td>{{ r[2] }}</td>
                            <td>{{ r[3] }}</td>
                            <td>{{ r[4] }}</td>
                            <td>{{ r[6] }}</td>
                            <td>
                                {% if r[10] is not none %} <span class="label label-primary">user created</span> {% endif %}
                                {% if r[11] is not none %} <span class="label label-primary">{{ r[11] }}</span> {% endif %}
                            </td>
                            <td>
                                <a href="/student/edit/{{ r[0] }}">Edit</a> {% if r[10] is none %}| <a href="/student/signup/{{ r[0] }}">Signup</a> {% endif %}
                                {% if r[11] is not none %} | <a href="/student/remove/room/{{ r[0] }}">Remove Room</a> | <a href="/student/generate/bill/{{ r[0] }}">Generate Bill</a> {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                      {% endif %}
                  </tbody>
              </table>
          </div>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
         <div class="alert alert-{{ category }}">{{message}} </div>
        {% endfor %}
      {% endif %}
    {% endwith %}


    </section>
</div>
{% endblock %}
