{% extends "master.html" %}

{% block content %}
   <div class="content-wrapper">
    <section class="content-header">
      <h1>
        Student Registration
        <small></small>
      </h1>
    </section>
    <section class="content container-fluid">

          <div class="box box-primary">


            <!-- /.box-header -->
            <!-- form start -->
            <form role="form" action="/student/edit" method="post">
              <input type="hidden" name="id" value="{{row[0]}}">
              <div class="box-body">
                <div class="col-xs-6">
                  <div class="form-group">
                    <label >Student Name</label>
                    <input type="text" class="form-control" value="{{row[1]}}" name="student_name" required placeholder="Enter student name">
                  </div>
                </div>


                <div class="col-xs-6">
                  <div class="form-group">
                    <label >Father Name</label>
                    <input type="text" class="form-control" value="{{row[2]}}" name="father_name" required placeholder="Enter father name">
                  </div>
                </div>


                  <div class="col-xs-6">
                  <div class="form-group">
                    <label >Student Email</label>
                    <input type="email" class="form-control" value="{{row[3]}}" name="email" required placeholder="Enter  email">
                  </div>
                </div>

                <div class="col-xs-6">
                  <div class="form-group">
                    <label >Guardian Contact</label>
                    <input type="text" class="form-control" name="contact" value="{{row[4]}}" required placeholder="Enter guardian contact">
                  </div>
                </div>

<!--{{ 'selected' if row['7'] == 'program' else '' }}-->
                <div class="col-xs-6">
                  <div class="form-group">
                    <label >Program</label>
                    <select name="program" required class="form-control">
                      <option value="">--Please Select--</option>
                      <option  value="program1" {% if row[7] == "program1" %} selected {% endif %}>program1</option>
                      <option  value="program2" {% if row[7] == "program2" %} selected {% endif %} >program2</option>
                      <option  value="program3" {% if row[7] == "program3" %} selected {% endif %} >program3</option>
                    </select>
                  </div>
                </div>

                <div class="col-xs-6">
                  <div class="form-group">
                    <label >Merit #</label>
                    <input type="number" class="form-control" value="{{row[6]}}"  required name="merit" required placeholder="Enter merit #">
                  </div>
                </div>


                <div class="col-xs-12">
                  <div class="form-group">
                    <label >Address</label>
                    <textarea name="address" required id=""   class="form-control" cols="30" rows="5">{{row[5]}}</textarea>
                  </div>
                </div>


              </div>
              <!-- /.box-body -->

              <div class="box-footer">
                <button type="submit" class="btn btn-primary">Update</button>
              </div>
            </form>

          </div>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
         <div class="alert alert-success">{{message}} </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    </section>
</div>
{% endblock %}
