{% extends "master.html" %}

{% block content %}
   <div class="content-wrapper">
    <section class="content-header">
      <h1>
        Visitors Record
        <small></small>
      </h1>
    </section>
    <section class="content container-fluid">
        <div class="form-group">
                  <h4>Name Of Relatives Who Can Visit</h4>
                      <ol>
                          <li><div class="form-group">
                  <label for="name4(a)" class="col-sm-2 control-label"></label>

                  <div class="col-sm-6">
                    <input type="text" class="form-control" id="name4(a)" placeholder="Name"></li>

                          <li><div class="form-group">
                  <label for="name4(b)" class="col-sm-2 control-label"></label>

                  <div class="col-sm-6">
                    <input type="text" class="form-control" id="name4(b)" placeholder="Name"></li>
                          <li><div class="form-group">
                  <label for="name4(c)" class="col-sm-2 control-label"></label>

                  <div class="col-sm-6">
                    <input type="text" class="form-control" id="name4(c)" placeholder="Name"></li>

                      </ol>
                  </div>

<br>

            <div class="form-group">
                <h4>Relation of Relatives</h4>
                <ol>
                    <li><div class="form-group">
                  <label for="name4(d)" class="col-sm-2 control-label"></label>

                  <div class="col-sm-6">
                    <input type="text" class="form-control" id="name4(d)" placeholder="Relation"></li>
                    <li><div class="form-group">
                  <label for="name4(e)" class="col-sm-2 control-label"></label>

                  <div class="col-sm-6">
                    <input type="text" class="form-control" id="name4(e)" placeholder="Relation"></li>

                    <li><div class="form-group">
                  <label for="name4(f)" class="col-sm-2 control-label"></label>

                  <div class="col-sm-6">
                    <input type="text" class="form-control" id="name4(f)" placeholder="Relation"></li>




                </ol>

                  </div>


<br>


         <div class="form-group">
                  <h4>ContactNumber of Relatives</h4>
                      <ol>
                          <li><div class="form-group">
                  <label for="name4(g)" class="col-sm-2 control-label"></label>

                  <div class="col-sm-6">
                    <input type="text" class="form-control" id="name4(g)" placeholder="xxxx-xxxxxxx"</li>

                          <li><div class="form-group">
                  <label for="name4(h)" class="col-sm-2 control-label"></label>

                  <div class="col-sm-6">
                    <input type="text" class="form-control" id="name4(h)" placeholder="xxxx-xxxxxxx"></li>
                          <li><div class="form-group">
                  <label for="name4(i)" class="col-sm-2 control-label"></label>

                  <div class="col-sm-6">
                    <input type="text" class="form-control" id="name4(i)" placeholder="xxxx-xxxxxxx"></li>

                      </ol>
                  </div>


<br>

         <div class="form-group">
                  <h4>CNIC. of Relatives</h4>
                      <ol>
                          <li><div class="form-group">
                  <label for="name4(g)" class="col-sm-2 control-label"></label>

                  <div class="col-sm-6">
                    <input type="text" class="form-control" id="name4(g)" placeholder="xxxxx-xxxxxxx-x"</li>

                          <li><div class="form-group">
                  <label for="name4(h)" class="col-sm-2 control-label"></label>

                  <div class="col-sm-6">
                    <input type="text" class="form-control" id="name4(h)" placeholder="xxxxx-xxxxxxx-x"></li>
                          <li><div class="form-group">
                  <label for="name4(i)" class="col-sm-2 control-label"></label>

                  <div class="col-sm-6">
                    <input type="text" class="form-control" id="name4(i)" placeholder="xxxxx-xxxxxxx-x"></li>

                      </ol>
                  </div>
        <br>
<div class="box-footer">
                <button type="submit" class="btn btn-default">Cancel</button>
                <button type="submit" class="btn btn-info pull-right">Submit</button>
              </div>

    </section>
</div>
{% endblock %}
